<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        body { background-color: lightyellow;}
        h2 { color: green; text-decoration: underline;}
        p { color: brown; background-color: #FFFFCC;}
        .normal { font-weight: normal; }
        .bold { font-weight: 600; }
        .bolder { font-weight: bolder; }
    </style>
</head>
<body>
    <h2>
        Member Project
    </h2>
    <p class="bolder">for practice</p>
    <a href="/member/save">회원가입</a>
    <a href="/member/login">로그인</a>
    <a href="/member/">회원목록</a>
</body>
</html>