<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
<!--    <link rel="stylesheet" href="style.css">-->
    <style>
        .tb {
            border: 1px solid #000;
        }
        .tb-head>th {
            border: 1px solid #000;
            font-size: 14px;
            font-weight: bold;
        }
        .tb-body>td {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
<h2>list.html</h2>
<table class="tb">
    <tr class="tb-head">
        <th>id</th>
        <th>memberEmail</th>
        <th>memberPassword</th>
        <th>memberName</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr class="tb-body" th:each="member : ${memberList}"> <!-- MemberController findAll 메서드에서 Model로 전달받은 정보 -->
        <td th:text="${member.id}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td>
            <!--(구 방식)query string 방식 /member?id=1-->
            <!--(신 방식)rest api 방식 /member/1  -->
            <a th:href="@{|/member/${member.id}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>